.group-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 93px;
}



.b,
.rectangle-group {
    position: absolute;
    top: 8px;
    left: 20px;
}
.rectangle-group {
    top: 9px;
    left: 1201px;
    width: 104px;
    height: 37px;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-montserrat);
}
.rectangle-parent {
    position: absolute;
    top: 24px;
    left: 58px;
    width: 1305px;
    height: 47px;
}
.child,
.header,
.inner,
.item {
    position: absolute;
    left: 0;
    width: 1440px;
}
.header {
    top: 1px;
    height: 93px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray);
}
.child,
.inner,
.item {
    height: 741px;
}
.child {
    top: 1px;
    object-fit: cover;
}
.inner,
.item {
    top: 0;
}
.inner {
    left: 933px;
    background-color: var(--color-royalblue-200);
    width: 370px;
}
.p {
    margin-block-start: 0;
    margin-block-end: 10px;
}
.p4 {
    margin: 0;
}
.div8,
.div9 {
    position: absolute;
}
.div8 {
    top: 244px;
    left: 980px;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: inline-block;
    width: 277px;
    height: 254px;
}
.div9 {
    top: 116px;
    left: 1038px;
    font-size: var(--font-size-21xl);
    font-weight: 800;
}
.rectangle-icon,
.vector-icon {
    position: absolute;
    top: 0;
    left: 1118px;
    width: 1px;
    height: 103px;
}
.rectangle-icon {
    top: 498px;
    left: 944px;
    width: 370px;
    height: 221px;
    object-fit: cover;
}
.group-icon {
    position: absolute;
    top: 698px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.icon {
    position: absolute;
    top: 291px;
    right: 18px;
    width: 65px;
    height: 72px;
    object-fit: cover;
}
.child1,
.养老护工-wrapper {
    position: absolute;
    top: 1230px;
    left: 0;
    width: 1440px;
    height: 742px;
}
.child1 {
    top: 0;
    height: 741px;
    object-fit: cover;
}
.rectangle-div {
    top: 0;
    left: 136px;
    background-color: var(--color-royalblue-200);
    width: 370px;
    height: 741px;
}
.div11,
.div12,
.rectangle-div {
    position: absolute;
}
.div11 {
    top: 244px;
    left: 183px;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: inline-block;
    width: 277px;
    height: 254px;
}
.div12 {
    top: 116px;
    left: 281px;
    font-size: var(--font-size-21xl);
    font-weight: 800;
}
.child2,
.child3 {
    position: absolute;
    top: 0;
    left: 321px;
    width: 1px;
    height: 103px;
}
.child3 {
    top: 693px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.icon1,
.icon2 {
    position: absolute;
    top: 3px;
    right: 0;
    width: 65px;
    height: 72px;
    object-fit: cover;
}
.icon2 {
    top: 0;
    right: 1312px;
    width: 71px;
    height: 78px;
}
.group {
    top: 332px;
    right: 18px;
    width: 1383px;
    height: 78px;
}
.child4,
.保姆-wrapper,
.group {
    position: absolute;
}
.child4 {
    top: 498px;
    left: 136px;
    width: 370px;
    height: 221px;
    object-fit: cover;
}
.保姆-wrapper {
    top: 1971px;
    left: 0;
    width: 1440px;
    height: 741px;
}
.frame-child {
    top: 94px;
    left: 0;
    width: 1440px;
    height: 584px;
}
.child8,
.child9,
.frame-child {
    position: absolute;
}
.child8 {
    top: 498px;
    left: 933px;
    width: 370px;
    height: 221px;
    object-fit: cover;
}
.child9 {
    top: 699px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.container {
    position: absolute;
    top: 355px;
    right: 18px;
    width: 1383px;
    height: 78px;
}
.家电清洗-wrapper {
    position: absolute;
    top: 2712px;
    left: 0;
    width: 1440px;
    height: 742px;
}
.child14,
.child19,
.兼职厨师-wrapper {
    position: absolute;
    top: 689px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.child19,
.兼职厨师-wrapper {
    top: 3454px;
    left: 0;
    width: 1440px;
    height: 741px;
}
.child19 {
    top: 695px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.parent1 {
    top: 347px;
    right: 18px;
    width: 1383px;
    height: 78px;
}
.货运-wrapper,
.div24,
.parent1 {
    position: absolute;
}
.货运-wrapper {
    top: 4195px;
    left: 0;
    width: 1440px;
    height: 741px;
}
.div24 {
    top: 116px;
    left: 1078px;
    font-size: var(--font-size-21xl);
    font-weight: 800;
}
.child24,
.搬运-wrapper {
    position: absolute;
    top: 694px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.搬运-wrapper {
    top: 4936px;
    left: 0;
    width: 1440px;
    height: 741px;
}
.div27 {
    top: 116px;
    left: 241px;
    font-size: var(--font-size-21xl);
    font-weight: 800;
}
.家电维修-wrapper,
.div27,
.parent3 {
    position: absolute;
}
.parent3 {
    top: 348px;
    right: 18px;
    width: 1383px;
    height: 78px;
}
.家电维修-wrapper {
    top: 5677px;
    left: 0;
    width: 1440px;
    height: 741px;
}
.child34,
.child39,
.居家保洁-wrapper {
    position: absolute;
    top: 678px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.child39,
.居家保洁-wrapper {
    top: 6418px;
    left: 0;
    width: 1440px;
    height: 741px;
}
.child39 {
    top: 691px;
    left: 607px;
    width: 226px;
    height: 10px;
}
.icon15,
.wrapper {
    position: absolute;
    width: 71px;
    height: 78px;
}
.icon15 {
    top: 0;
    right: 0;
    object-fit: cover;
}
.wrapper {
    top: 330px;
    right: 1330px;
}
.家具清洗-wrapper,
.group-child1 {
    position: absolute;
    top: 7159px;
    left: 0;
    width: 1440px;
    height: 741px;
}
.group-child1 {
    top: 0;
    left: 99px;
    border-radius: 6px;
    background: linear-gradient(
            180deg,
            rgba(57, 106, 252, 0.8),
            rgba(41, 72, 255, 0.8)
    );
    width: 1480px;
    height: 791px;
}
.group-child2,
.group-child3 {
    position: absolute;
    width: 1440px;
}
.group-child2 {
    top: 0;
    left: calc(50% - 656.5px);
    background-color: rgba(52, 120, 246, 0.16);
    height: 791px;
}
.group-child3 {
    top: 5px;
    left: 127px;
    height: 119px;
}
.image-15-icon,
.image-16-icon {
    position: absolute;
    top: 0;
    left: 127px;
    width: 1567px;
    height: 735px;
    object-fit: cover;
}
.image-15-icon {
    left: 380px;
    width: 850px;
    height: 704px;
}
.group-child4 {
    position: absolute;
    top: 369px;
    left: 0;
    border-radius: 7px;
    background: linear-gradient(
            180deg,
            rgba(108, 160, 255, 0.8),
            rgba(119, 167, 255, 0.38) 61.98%,
            rgba(108, 160, 255, 0)
    );
    width: 389px;
    height: 249px;
}
.b1,
.div34 {
    letter-spacing: 0.11em;
}
.b1 {
    position: absolute;
    top: 380px;
    left: 142px;
}
.div34 {
    top: 574px;
    left: 122px;
    font-size: var(--font-size-xs);
    font-weight: 500;
}
.b2,
.b3,
.div34 {
    position: absolute;
}
.b2 {
    top: 425px;
    left: 35px;
    font-size: 13px;
    letter-spacing: 0.44em;
}
.b3 {
    top: 141px;
    left: 0;
    font-size: var(--font-size-xl);
    letter-spacing: 0.16em;
    display: inline-block;
    width: 389px;
    height: 205px;
}
.image-15-parent {
    position: absolute;
    top: 5px;
    left: 337px;
    width: 1230px;
    height: 704px;
}
.group-wrapper,
.rectangle-parent1 {
    position: absolute;
    top: 0;
    width: 1567px;
}
.group-wrapper {
    left: 0;
    height: 735px;
}
.rectangle-parent1 {
    left: calc(50% - 789.5px);
    height: 791px;
}
.rectangle-container {
    position: absolute;
    top: 7900px;
    left: -127px;
    width: 1579px;
    height: 791px;
    font-size: 24px;
}
.group-child5 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-lightsteelblue);
    width: 80px;
    height: 80px;
}
.div35 {
    position: absolute;
    top: 87px;
    left: 7px;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 93px;
    height: 17px;
}
.aa02f2e6266ab09ed52848f256a724-icon {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 71px;
    height: 71px;
    object-fit: cover;
}
.小程序下单-wrapper {
    position: absolute;
    top: 8359px;
    left: 308px;
    width: 100px;
    height: 104px;
    text-align: left;
    font-size: var(--font-size-xs);
    font-family: var(--font-montserrat);
}
.group-child6 {
    position: absolute;
    top: 0;
    left: 5px;
    background-color: var(--color-lightsteelblue);
    width: 80px;
    height: 80px;
}
.div36 {
    position: absolute;
    top: 87px;
    left: 0;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 17px;
}
.e0258490bb7c7df8cfb7f18a-1-icon {
    position: absolute;
    top: 4px;
    left: 9px;
    width: 71px;
    height: 71px;
    object-fit: cover;
}
.微信公众号-wrapper {
    position: absolute;
    top: 8359px;
    left: 426px;
    width: 88px;
    height: 104px;
    text-align: center;
    font-size: var(--font-size-xs);
    font-family: var(--font-montserrat);
}
.footer-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-royalblue-100);
    width: 1458px;
    height: 393px;
}
.div37,
.div38 {
    position: absolute;
    top: 102.87px;
    left: 0;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    width: 72.36px;
    height: 19.87px;
}
.div38 {
    top: 77px;
}
.b4,
.div39 {
    position: absolute;
    height: 20px;
}
.b4 {
    top: 79px;
    left: 155px;
    font-size: var(--font-size-base);
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    width: 161px;
}
.div39 {
    top: 51px;
    left: 0;
    width: 91px;
}
.div39,
.div40,
.div41 {
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
}
.div40 {
    position: absolute;
    top: 51px;
    left: 155px;
    font-size: var(--font-size-base);
    width: 167px;
    height: 20px;
}
.div41 {
    top: 0;
    left: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
    width: 91px;
    height: 24px;
}
.div41,
.div42,
.parent5 {
    position: absolute;
}
.div42 {
    top: 0;
    left: 155px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 91px;
    height: 24px;
}
.parent5 {
    top: 52px;
    left: 265px;
    width: 322px;
    height: 122.75px;
    font-size: var(--font-size-sm);
}
.footer-inner,
.footer-item {
    position: absolute;
    top: 242px;
    left: 0;
    background-color: var(--color-white);
    width: 1513px;
    height: 1px;
}
.footer-inner {
    top: 49px;
    left: 62px;
    background-color: var(--color-gainsboro);
    width: 139px;
    height: 50px;
}
.div43,
.div44 {
    position: absolute;
    top: 173px;
    left: 1101px;
    font-size: var(--font-size-base);
    letter-spacing: 0.1em;
    font-weight: 500;
    font-family: var(--font-montserrat);
    display: flex;
    align-items: center;
    width: 93px;
    height: 17px;
}
.div44 {
    left: 1242px;
    width: 88px;
}
.div45,
.xiangxiaochou126com,
.xxxx-2023 {
    position: absolute;
    top: 277px;
    left: 62px;
    letter-spacing: 0.1em;
}
.xiangxiaochou126com,
.xxxx-2023 {
    top: 301px;
}
.xxxx-2023 {
    top: 253px;
}
.aa02f2e6266ab09ed52848f256a724-icon1,
.e0258490bb7c7df8cfb7f18a-1-icon1 {
    position: absolute;
    top: 46px;
    left: 1080px;
    width: 119px;
    height: 119px;
    object-fit: cover;
}
.e0258490bb7c7df8cfb7f18a-1-icon1 {
    left: 1226px;
}
.footer {
    position: absolute;
    top: 8691px;
    left: -8px;
    width: 1513px;
    height: 393px;
    text-align: left;
    font-size: var(--font-size-xs);
}
.group-child7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 551px;
    object-fit: cover;
}
.group-child8 {
    background-color: var(--color-gainsboro);
    opacity: 0;
}
.div46,
.group-child8,
.home-icon-yuesao {
    position: absolute;
    top: 0;
    left: 0;
    width: 98.69px;
    height: 98.69px;
}
.div46 {
    top: 103.63px;
    left: 22.21px;
    font-weight: 500;
    display: inline-block;
    width: 54.28px;
    height: 38.24px;
}
.slice-div {
    position: relative;
    width: 98.69px;
    height: 98.69px;
}
.div47,
.home-icon-weixiu,
.home-icon-yuesao-parent {
    position: absolute;
    top: 170px;
    left: 4.58px;
    width: 98.69px;
    height: 141.87px;
}
.div47,
.home-icon-weixiu {
    left: 243.92px;
    width: 104.47px;
    height: 98.69px;
}
.div47 {
    top: 273.63px;
    left: 238.98px;
    font-weight: 500;
    display: inline-block;
    width: 108.56px;
    height: 38.24px;
}
.div48,
.home-icon-jvjiaqingjie {
    position: absolute;
    top: 170px;
    left: 488.19px;
    width: 98.69px;
    height: 98.69px;
}
.div48 {
    top: 273.63px;
    left: 483.25px;
    font-weight: 500;
    display: inline-block;
    width: 108.56px;
    height: 38.24px;
}
.div49,
.home-icon-jiajvqingxi {
    position: absolute;
    top: 170px;
    left: 732.45px;
    width: 98.69px;
    height: 98.69px;
}
.div49 {
    top: 273.63px;
    left: 727.52px;
    font-weight: 500;
    display: inline-block;
    width: 108.56px;
    height: 38.24px;
}
.div50,
.home-icon-gengduo {
    position: absolute;
    top: 170px;
    left: 976.72px;
    width: 98.69px;
    height: 98.69px;
}
.div50 {
    top: 273.63px;
    left: 971.79px;
    font-weight: 500;
    display: inline-block;
    width: 108.56px;
    height: 38.24px;
}
.div51,
.home-icon-jiadianqingxi {
    position: absolute;
    top: 0;
    left: 4.93px;
    width: 98.69px;
    height: 98.69px;
}
.div51 {
    top: 103.63px;
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 108.56px;
    height: 38.24px;
}
.home-icon-jiadianqingxi-parent,
.home-icon-jiajiaojianzhi-parent {
    position: absolute;
    top: 0;
    left: 483px;
    width: 108.56px;
    height: 141.87px;
}
.home-icon-jiajiaojianzhi-parent {
    left: 728px;
}
.home-icon-baomu-parent,
.home-icon-yunshu-parent {
    position: absolute;
    top: 0;
    left: 976px;
    width: 98.69px;
    height: 141.87px;
}
.home-icon-baomu-parent {
    left: 245px;
    text-align: left;
}
.group-parent {
    position: absolute;
    top: 128px;
    left: 180px;
    width: 1080.35px;
    height: 311.87px;
}
.rectangle-parent5 {
    position: absolute;
    top: 679px;
    left: 0;
    width: 1440px;
    height: 551px;
    text-align: center;
    font-size: var(--font-size-3xl);
    color: var(--color-darkslategray);
}
.logo {
    position: relative;
    background-color: var(--color-gainsboro);
    width: 159px;
    height: 47px;
}
.div57 {
    position: absolute;
    top: 0.5px;
    left: 0;
    font-weight: 800;
    color: var(--color-royalblue-100);
}
.div59,
.div60,
.div61,
.div62,
.div63 {
    position: absolute;
    top: 0.5px;
    left: 250px;
    font-weight: 500;
}
.div60,
.div61,
.div62,
.div63 {
    left: 395px;
}
.div61,
.div62,
.div63 {
    left: 540px;
}
.div62,
.div63 {
    left: 685px;
}
.div63 {
    left: 830px;
}
.div56,
.div64 {
    position: relative;
    width: 910px;
    height: 28.5px;
}
.div64 {
    width: 104px;
    height: 37px;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-montserrat);
}

.服务行业web {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 9084px;
    overflow: hidden;
    text-align: justify;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-pingfang-sc);
}


.header-wrapper {
    position: absolute;
    top: 24px;
    left: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 65px;

}

.b19,
.child16 {
    position: absolute;
}
.child16 {
    top: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--color-royalblue-100);
    width: 104px;
    height: 37px;
}
.b19 {
    top: 8px;
    left: 20px;
}
.div84 {
    position: relative;
    width: 104px;
    height: 37px;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-montserrat);
}
.logo {
    position: relative;
    background-color: var(--color-gainsboro);
    width: 159px;
    height: 47px;
}

